.sec1{
    display: flex;
    flex-direction: column;
}
.sec1__content{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top:-$nav-hight-desktop !important;
    padding-top:$nav-hight-desktop + 233px !important;

    @include mobile{
        margin-top:-$nav-hight-mobile !important;
        padding-top: $nav-hight-mobile + 60px !important;
    }

}

.sec1__content--hamburger{
    margin-top:-($nav-hight-mobile+500) !important;
}
.slider1{
    background-image: url(../images/background3_desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include mobile{
        background-image: url(../images/background1_mobile.png);
    }
}
.slider2{
    background-image: url(../images/background2_desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include mobile{
        background-image: url(../images/background2_mobile.png);
    }
}
.slider3{
    background-image: url(../images/background1_desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include mobile{
        background-image: url(../images/background3_mobile.png);
    }
}


.sec1__slider{
    height: $sec1-height;
    display: none;

    @include mobile(){
        height: 600px;
    }
    .sec1__paragraph{
        width: 580px;
        height: 62px;
        color: $text-color-light;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        align-self: center;
        padding-bottom:70px;

        @include mobile(){
            width: $container-width-mobile;
            padding-bottom:0;
        }

        span{
            @include mobile(){
                display: none;
            }
        }
    }
}

.sec1__deco{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 0;
    
    @include mobile{
        margin: 0;
    }
}
.deco__line{
    width: 80px;
    height: 1px;
    background-color:#f1ebe7;
}

.deco__dot{
    width: 8px;
    height: 7px;
    background-color: #e74c3c;
    border-radius: 100%; 
    margin: 0 13px;
    
}

.sec1__subheadline{
    color:$text-color-lighter;
    font-family: "Source Sans Pro";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin: 0 0 45px 0;


    @include mobile {
        margin: 0 0 16px 0;
    }
}

.sec1__headline{
    color: $text-color-lighter;
    font-family: "Open Sans";
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7.2px;
    margin: 0;
    
    @include mobile{
        font-size: 3em;
        letter-spacing: 5px;
    }

    @include small-mobile{
        font-size: 2.5em;
        align-self: center;
    }
}

.btn__box{
    display:flex;
    align-self: center;

    
}
@include mobile{
        .btn:nth-of-type(2){
            display: none;
        }
        
    }
        

.btn{
    width: 225px;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    margin: 0 15px;
    padding: 22px 0;
    border-radius: 1px;
    cursor: pointer;
    @include mobile{
        padding: (56px-19px)/2 0;
        
    }


    a{
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.24px;
        text-decoration: none;
    }
}

.btn__important{
    border-color: $active-color !important;
    background-color: $active-color;
}

.btn:hover{
    transform: scale(1.06);
}