

.slider {
    position: relative;
}


.slider-slides-cnt {
    position: relative;
}

.sec1__slider--active{
    display: block !important;
}



.slider-button-prev,
.slider-button-next {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    left:0;
    top:437px;
    width:4rem;
    height:4rem;
    background: rgba(0,0,0,0);
    border:0;
    text-indent:-999px;
    overflow:hidden;
}

.slider-button-next {
    left:auto;
    right:0;
}
.slider-button-prev:focus,
.slider-button-next:focus {
    outline: none;
}
.slider-button-prev:before,
.slider-button-next:before {
    content:'';
    display: flex;
    background-image: url("../images/fa-angle-left.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
}
.slider-button-next:before {
    content: '';
    transform: rotate(180deg);
}

.slider-button-prev:hover:before,
.slider-button-next:hover:before{
    background-image: url("../images/fa-angle-left_white.png");
    background-color: $active-color;
    opacity: 1;
    transform: rotate(0);
} 
.slider-button-prev:hover:before {
    transform: rotate(180deg);
}

/* slider dots */
.slider-dots {
    z-index: 2;
    position: absolute;
    left:0;
    bottom:-13rem;
    margin:0;
    padding:0;
    width:100%;
    display: flex;
    justify-content: center;
    list-style:none;
}

.slider-dots-button {
    background: transparent;
    width: 2rem;
    height: 2rem;
    border:0;
    text-indent:-999px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.slider-dots-button:before {
    content:'';
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    background: transparent;
    width:1rem;
    height:1rem;
    border-radius: 50%;
    transition:0.5s all;
    box-shadow: inset 0 31px 70px rgba(4, 6, 5, 0.1);
    border: 2px solid $text-color-light;
}
.slider-dots-element--active .slider-dots-button:before {
    background: $text-color-light;
}   
.slider-dots-button:focus {
    outline: none;
}


@include keyframes(pulsing) {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
    }
    30%{
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
.slider__logo__container{
    // display: none;
    width: 74px;
    height: 74px;
    // background-color: transparentize(#fff,0.7);
    border-radius: 100%;
    position: absolute;
    left:47%;
    bottom:-21.5rem;
    margin:0;
    padding:0;
    // @include animation(pulsing 4s infinite);
}


.slider__logo{
    width: 64px;
    height: 64px;
    background-color: $text-color-lighter;
    border-radius: 100%;
    background-image: url("../images/down_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: (74px-64px)/2;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
    @include animation(pulsing 3s infinite);
}