@import "variables";
@import "mixins";
@import "navigation";
@import "sec1";
@import "sec2";
@import "slider";
@import "hamburger";




body{
    margin:0;
}
.container{
    // max-width:$container-width;
    margin:0 $container-margin;

    @include mobile{
        max-width:$container-width-mobile;
        margin:0 $container-margin-mobile;
    }
}

nav.container{
    @include mobile{
        margin: 0;
        max-width:100%;
    }
}

figure{
    margin: 0;
}